*{ margin: 0;
box-sizing: border-box;
padding: 0;
}

#barra-lateral{
    position: fixed;
    height: 100vb;
    width: 5%;
    background-color: white;
}

#menu{
    height: 10%;
    background-color: #0f0f0f;
    width: 100%;
    padding-top: 28px;
    padding-left: 28px;
    position: absolute;
}

#redes-barra{
    height: 100vb;
    width: 100%;
}

#redes-meio{
    padding-top: 400%;
    text-align: center;
}

.padding-img{
    margin-top: 50px;
    color: #212529;
}


#task_bar{
    background-color: white;
    height: 100vh;
    width: 90px;
    position: fixed;
}

#opcao{
    background-color: #0f0f0f;
    height: 90px;
    width: 90px;
}

#img_option{
    position: absolute;
    top: 2%;
    left: 25%;
}

#social_media{
    position: absolute;
    top:41%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 255px;
    width: 18px;
}

#pag-social-midia{
    position: absolute;
    top:80%;
    left: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    width: 180px;
}

#check-barra-lateral{
    opacity: 0;
    height: 90px;
    width: 90px;
    border: none;
    z-index: 99;
    position: absolute;
    top: 0%;
    left: 0%;
}

#check-barra-lateral:checked+#paginas{
    visibility: visible;
    transition: 0.5s;
}

#paginas{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 270px;
    background-color: rgb(255, 255, 255);
    z-index: 90;
    visibility: hidden;
}

#voltar{
    background-color: #0f0f0f;
    height: 90px;
    width: 90px;
}

#img-voltar{
    position: absolute;
    top: 2%;
    left: 6%;
    width: 20%;

}

#tulen{
    background-color: #2916E0;
    width: 180px;
    height: 90px;
    position: absolute;
    top: 0%;
    left: 33.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tulen_att{
    width: 180px;
    height: 90px;
    position: absolute;
}

#nome-pag{
    width: 110px;
    height: 82%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_pages{
    text-decoration: none;
    font-size: 30px;
    font-family:  "Montserrat", sans-serif;
    font-weight: 600;
    color: #B2B2B2;
    padding-top: 18px;
    padding-bottom: 18px;
}

#home:hover{
    color: #2916E0;
    transition: 0.3s;
}

#about:hover{
    color: #2916E0;
    transition: 0.3s;
}

#gallery:hover{
    color: #2916E0;
    transition: 0.3s;
}

#blog:hover{
    color: #2916E0;
    transition: 0.3s;
}

#contact:hover{
    color: #2916E0;
    transition: 0.3s;
}

#about{
    color: #2916E0;
}

.texto-copy{
    position: absolute;
    top: 85%;
    left: 14%;
    text-align: center;
    font-size: 19px;
    color: #636363;
}

.ti-heart{
    color: #e21010;
    font-size: 16px;
}

#colorib{
    text-decoration: none;
    color: #B2B2B2;
}

#colorib:hover {
    color: #2916E0;
}

#foto-perfil{
    background-color: #2916e0;
    width: 45%;
    height: 100%;
    margin-left: 90px;
    display: inline-block;
}

#imagem-pessoa-espaco{
    width: 100%;
    height: 70vb;
    background-image: url(about-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

#imagem-pessoa img{
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 20%;
}

#Glen-cross{
    width: 100%;
    height: 30vb;
}

#glen-cross{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    width: 50%;
    margin-left: 18%;

}

#glen-negrito{
    font-weight: bold;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#texto-corpo{
    color: #fff;
    font-size: 15px;
    line-height: 1.8;
    margin-left: 18%;
    margin-top: 3%;
}

#say-hello{
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 160px;
    height: 46px;
    margin-left: 18%;
    margin-top: 3%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5%;
}

#baixo-botao{
    height: 4vb;
}

#email-colorib{
    width: 10%;
    position: absolute;
    top: 98%;
    left: 25%;
}

#colorib-a{
    color: white;
}
